{{#each dog_brands}}
  <div class="col-sm-4">
    <h3>
        <a href="#">{{name}}</a>
    </h3>
    <p>
      <h4>{{types.type}}</h4>
      <ul>
        <li>{{types.name}} for {{types.price}}</li>
        <li>{{types.name}} for {{types.price}}</li>
      </ul>
      <h4>{{types.type}}</h4>
      <ul>
        <li>{{types.name}} for {{types.price}}</li>
        <li>{{types.name}} for {{types.price}}</li>
      </ul>
    </p>
  </div>
{{/each}}
