{{#each dog_brands}}
  <div class="col-sm-6">
    <h3>
        <a href="#">{{name}}</a>
    </h3>
    {{#each types as |Types|}}
    <p>
      <h4>{{Types}}</h4>
{{!--       {{each volumes}} --}}
      <ul>
        <li>{{name}} for {{price}}</li>
        <li>{{name}} for {{price}}</li>
      </ul>
      <h4>{{type}}</h4>
      <ul>
        <li>{{volumes.[.name}} for {{volumes.price}}</li>
        <li>{{volumes.name}} for {{volumes.price}}</li>
      </ul>
{{!--       {{/each}} --}}
    </p>
    {{/each}}
  </div>
{{/each}}
